.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader{
  text-align: center;
  margin-top: 100px;
}

.layout {
  margin: 0 auto;
  margin-top: 90px;
  overflow: hidden;
}

.admin {
  align-items: center;
  text-align: center;
}

.admin h2 {
  display: block;
}

.menu_toggle{
  display: none
}

.admin_nav {
  display: flex;
  padding-left: 8px
}
.nav_left {
  width: 300px;
  border-right: 2px solid #01285e;
  height: 280px;
}

.nav_right {
  flex-grow: 1;
}

@media screen and (max-width: 500px) {
  .nav_left{
    display: none
  }
  .menu_toggle{
    float: left;
    display: inherit;
  }
}