.header_top {
  font-size: x-large;
  color: black;
}

.header_bottom {
  padding-left: 40px;
  color:cadetblue
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aqua;
  color: black;
  text-align: center;
}

.material-icons {
  display: none;
}

@media screen and (max-width: 500px) {
  .button_text {
    display: none;
  }
  .material-icons{
      display: inline;
  }
}
